.txcmp3M1Txcmp3demoM1 {
	margin:1em 3em;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.clearer {
    clear: both;
}


div.formGroup {
	margin:1em 0em;
}

.txcmp3M1Txcmp3demoM1 label {
	font-weight:bold;
	margin: 0;
	display:block;
	font-size:1.2em;
}

hr {
	margin: 3em -2em;
	color:transparent;
	background-color:transparent;
	height:0px;
	border:0px;
	border-bottom:1px solid #aaa;
}

hr.justalittleone {
	border-bottom:1px dotted #aaa;
	margin: 2em 4em 2em 4em;
}

div.cmp3demo {
	margin: 0 4em;
}

div.cmp3demo + div.cmp3demo {
	border-top:1px dotted #aaa;
}


.txcmp3M1Txcmp3demoM1 p {
	margin:0em 0em 1.2em 0;
}
.txcmp3M1Txcmp3demoM1 div.left {
	margin:0.8em 0em 1em 0;
}
.txcmp3M1Txcmp3demoM1 div.right {
	margin:1em 0em 1em 0;
}


.txcmp3M1Txcmp3demoM1 div.right>p:first-child {
	margin:-0.5em 0em 1.2em 0;
}




.txcmp3M1Txcmp3demoM1 input.button, .txcmp3M1Txcmp3demoM1 .button,  .qq-upload-button {
	text-decoration:none;
    padding: 0.5em 0.5em;
    min-width: 13em;
    text-align:center;
    border: 1px solid #AAAAAA;
    border-bottom:1px solid #888;
    color:#000;
    border-radius: 3px;

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.txcmp3M1Txcmp3demoM1 input.button:hover, .txcmp3M1Txcmp3demoM1 .button:hover,  .qq-upload-button-hover {
	cursor: pointer;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}


/*----------------*/


div.txcmp3M1Txcmp3demoM1 #btnDownloadLink_ctl {
	display: block;
	margin: 2em 0 4em 0;
}

div.txcmp3M1Txcmp3demoM1 #btnDownloadLink {
	line-height: 24px;
	padding: 8px 1em;
	border: none !important;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	/* CSS3 */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: #006edd;
	background: -moz-linear-gradient(top, #57a4f0, #2a3e92); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#57a4f0), to(#2a3e92) ); /* Safari, Chrome */
	background: -webkit-linear-gradient(top, #57a4f0, #2a3e92);
	/* Safari, Chrome - neue Syntax! */
	background: -o-linear-gradient(top, #57a4f0, #2a3e92); /* Opera */
	background: -ms-linear-gradient(top, #57a4f0, #2a3e92); /* IE */
	background: linear-gradient(top, #57a4f0, #2a3e92); /* W3C Standard */
	-pie-background: linear-gradient(top, #57a4f0, #2a3e92); /* ie with pie */

	position: relative;
}

/*----------------*/


.txcmp3M1Txcmp3demoM1 input.button:hover, .txcmp3M1Txcmp3demoM1 .button:hover,  .qq-upload-button-hover {
	cursor: pointer;
}
.txcmp3M1Txcmp3demoM1 label, .txcmp3M1Txcmp3demoM1 select, .txcmp3M1Txcmp3demoM1 input[type="checkbox"], .txcmp3M1Txcmp3demoM1 input[type="radio"], .txcmp3M1Txcmp3demoM1 input[type="button"], .txcmp3M1Txcmp3demoM1 input[type="submit"] {
    cursor: pointer;
}

#pnlDownloadMessage {
	margin:3.5em 0 2em 0;
}


h4 { margin: 2em 0 0.5em 0 }

#pnlLog, #pnlSetup, #pnlResult {
	margin:0.5em 0 2em 0;
	padding:0.5em;
	border: 1px solid #aaa;
	background-color:#fff;
	color:#888;
	font-size:0.95em;
	min-height:10em;
	max-height:50em;
	white-space:pre;
	overflow: scroll;
}

.txcmp3M1Txcmp3demoM1 select.listbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    background-color: #EEEEEE;
    border-bottom-color: #AAAAAA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #AAAAAA;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #AAAAAA;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #AAAAAA;
    border-top-style: solid;
    border-top-width: 1px;
    font-family: 'Arial','Helvetica';
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    width: 208px;
}

